In [1]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from faker import Faker

In [2]:
fake = Faker("ru_RU")

In [5]:
%load_ext nb_black

### __Задание__

1. Создайте DataFrame для пяти студентов и их оценок по предметам matan, linal, matstat и cs, заполните их случайными данными
2. Добавьте еще одного студента и данные по его упеваемости по предметам
3. Добавьте предмет physics и оценки по нему
6. Добавьте признак "mean" ("средний балл"), посчитайте в нем средний балл по каждому студенту.
7. Для каждого студента посчитайте средний балл по всем предметам, кроме "cs" и "mean" (новый столбец датафрейма)
8. Удалите предмет "cs"

Варианты решения со столбцами  
https://stackoverflow.com/questions/29763620/how-to-select-all-columns-except-one-in-pandas

In [8]:
names = [fake.name() for _ in range(5)]
col_names = ["matan", "linal", "matstat", "cs"]

scores_mas = np.random.randint(2, 6, (5, 4))

scores = pd.DataFrame(scores_mas, index=names, columns=col_names)
scores

                            matan  linal  matstat  cs
Ираида Архиповна Соловьева      5      3        3   2
Кира Максимовна Матвеева        4      4        3   4
Горбунова Алина Николаевна      2      2        2   4
Фаина Павловна Фролова          5      2        4   3
Полякова Ия Ефимовна            3      2        3   3

In [9]:
# task 2
scores.loc[fake.name()] = np.random.randint(2, 6, 4)
scores

                            matan  linal  matstat  cs
Ираида Архиповна Соловьева      5      3        3   2
Кира Максимовна Матвеева        4      4        3   4
Горбунова Алина Николаевна      2      2        2   4
Фаина Павловна Фролова          5      2        4   3
Полякова Ия Ефимовна            3      2        3   3
Ефим Антипович Александров      2      4        2   2

In [10]:
# task 3
scores["physics"] = np.random.randint(2, 6, 6)
scores

                            matan  linal  matstat  cs  physics
Ираида Архиповна Соловьева      5      3        3   2        2
Кира Максимовна Матвеева        4      4        3   4        5
Горбунова Алина Николаевна      2      2        2   4        3
Фаина Павловна Фролова          5      2        4   3        2
Полякова Ия Ефимовна            3      2        3   3        4
Ефим Антипович Александров      2      4        2   2        3

In [11]:
# task 4
scores["mean"] = scores.mean(axis=1)
scores

                            matan  linal  matstat  cs  physics  mean
Ираида Архиповна Соловьева      5      3        3   2        2   3.0
Кира Максимовна Матвеева        4      4        3   4        5   4.0
Горбунова Алина Николаевна      2      2        2   4        3   2.6
Фаина Павловна Фролова          5      2        4   3        2   3.2
Полякова Ия Ефимовна            3      2        3   3        4   3.0
Ефим Антипович Александров      2      4        2   2        3   2.6

In [15]:
# task 5
scores["mean_no_cs"] = scores.loc[
    :, scores.columns[(scores.columns != "cs") & (scores.columns != "mean")]
].mean(axis=1)
scores

,matan,linal,matstat,cs,physics,mean,mean_no_cs
Ираида Архиповна Соловьева,5,3,3,2,2,3.0,3.25
Кира Максимовна Матвеева,4,4,3,4,5,4.0,4.00
Горбунова Алина Николаевна,2,2,2,4,3,2.6,2.25
Фаина Павловна Фролова,5,2,4,3,2,3.2,3.25
Полякова Ия Ефимовна,3,2,3,3,4,3.0,3.00
Ефим Антипович Александров,2,4,2,2,3,2.6,2.75

In [16]:
# task 6
scores.drop("cs", axis=1, inplace=True)

In [17]:
scores

                            matan  linal  matstat  physics  mean  mean_no_cs
Ираида Архиповна Соловьева      5      3        3        2   3.0        3.25
Кира Максимовна Матвеева        4      4        3        5   4.0        4.00
Горбунова Алина Николаевна      2      2        2        3   2.6        2.25
Фаина Павловна Фролова          5      2        4        2   3.2        3.25
Полякова Ия Ефимовна            3      2        3        4   3.0        3.00
Ефим Антипович Александров      2      4        2        3   2.6        2.75